@CHARSET "UTF-8";


body{
	font: normal 12px Arial;
}

table{
	
	whidth: 70%;
	
}

tr > th {
	background-color: #DDD
}

tr.linha1 >td{
	background-color: #EEE;
}
tr.linha2 >td{
	background-color: #FFF;
}